<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>簡易設定</title>
</head>

<body>
<header>
    <h2>簡易設定(Auto_cryptocurrency_trader_go)</h2>
</header>
<p>アクセスキー：<br>
<input type="text" id="accessKey" size="45"></p>
<p>シークレットキー：<br>
<input type="text" id="secretKey" size="45"></p>
<p>ホスト名：<br>
<input type="text" id="hostName" value="localhost"><br>
※パブリッククラウド等を使用している場合には、IPアドレスを入力してください。</p>
<div id="status">ここに変更結果が表示されます。</div>
<p><button onclick="updateConf();">変更する</button></p>
<script src="js/index.js"></script>
</body>
</html>
